<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">

	<script th:src="@{/js/goLocation.js}"></script>
	<script th:src="@{/js/checkLogout.js}"></script>
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<title>메인 타이틀</title>
</head>
<body class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
	<div class="wrapper">
		<div class="container">

			<form class="mb-3">
				<h2>메인입니다!</h2>
			</form>

			<form class="mb-3">
				<button type="button" id="signupButton" class="btn btn-info border-2">가입하기</button>
			</form>

			<div id="loginLogoutButton" class="mb-3"></div>


			<form class="mb-3">
				<button type="button" id="boardButton" class="btn btn-outline-primary border-2">게시판</button>
			</form>


			<div class="btn-group mb-3" role="group" aria-label="아이디 및 비밀번호 찾기">
				<form>
					<button type="button" id="findIdButton" class="btn btn-outline-primary border-2">아이디 찾기</button>
				</form>

				<form>
					<button type="button" id="findPasswordButton" class="btn btn-outline-primary border-2">비밀번호 찾기</button>
				</form>
			</div>


		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>


	<!--		<script th:src="@{/webjar/bootstrap/5.3.2/js/bootstrap.min.js}"></script>-->
</body>
</html>

<!-- 타임리프 사용 하려면 th:action ="@{/signup}"와 같이 문법 맞춰 줘야함 -->
<!--th:object="${user}"는 get요청쓸 때의  model객체와 맞춰야 한다.-->

<!--th:field="*{name}"와 같은 필드 값은 모델 객체와 엔티티 클래스의 필드와 연결하는 태그.
 name 태그와 엔티티 클래스의 필드값에 맞추면 됨.-->

<!--class="form-control"은 부트 스트랩에서 지원하는 기능-->