<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>메인 타이틀</title>
</head>
<body>
	<form method="get" th:action="@{/}">
		<h2>메인입니다!</h2>
	</form>

	<form method="get" th:action="@{/signup}" th:object="${user}"><!--메인페이지에서 가입하기 버튼 누를 시 회원가입 get요청-->
		<button type="submit">가입하기</button>
	</form>

	<form method="get" th:action="@{/login}" th:object="${signin}"><!--메인페이지에서 가입하기 버튼 누를 시 회원가입 get요청-->
		<button type="submit">로그인</button>
	</form>

	<form method="get" th:action="@{/findId}"><!--메인페이지에서 가입하기 버튼 누를 시 회원가입 get요청-->
		<button type="submit">아이디 찾기</button>
	</form>

	<form method="get" th:action="@{/findPw}"><!--메인페이지에서 가입하기 버튼 누를 시 회원가입 get요청-->
		<button type="submit">비밀번호 찾기</button>
	</form>

</body>
</html>

<!-- 타임리프 사용 하려면 th:action ="@{/signup}"와 같이 문법 맞춰 줘야함 -->
<!--th:object="${user}"는 get요청쓸 때의  model객체와 맞춰야 한다.-->

<!--th:field="*{name}"와 같은 필드 값은 모델 객체와 엔티티 클래스의 필드와 연결하는 태그.
 name 태그와 엔티티 클래스의 필드값에 맞추면 됨.-->

<!--class="form-control"은 부트 스트랩에서 지원하는 기능-->