<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/passwordChange}" method="post" th:object="${passwordChangeUser}">
    <input type="hidden" th:value="*{userId}" name="userId">
    <input type="hidden" th:value="*{name}" name="name">
    <input type="hidden" th:value="*{email}" name="email">

<!--    <div class="form-group">&lt;!&ndash;사용자 비밀번호&ndash;&gt;-->
<!--        <label for="inputPassword">현재 암호</label>-->
<!--        <input type="password"  id="inputPassword" name="password" th:field="*{password}" placeholder="현재 비밀번호" required>-->
<!--        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
<!--    </div>-->

    <div class="form-group"><!--사용자 비밀번호-->
        <label for="inputPassword">새 암호</label>
        <input type="password" id="inputPassword" name="newPassword" placeholder="새 비밀번호" required>
        <!--todo : User에는 newpassword라는 필드 없음 추가..?-->
    </div>

    <!--todo : 새 비밀번호 한번 더 받는 div 만들기-->

    <button type="submit"> 입력</button>
</form>

</body>
</html>