<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/finds/findPassword.css}">
	<script type="module" th:src="@{/js/handleAuthFetch.js}"></script>
	<script th:src="@{/js/finds/findPassword.js}"></script>
	<script th:src="@{/js/validateUser.js}"></script>
	<title>Title</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<h1>비밀번호 찾기</h1>

			<form method="post" th:action="@{/user/api/findPassword}" id="findPasswordForm" class="form"  th:object="${findUserPassword}">
				<!--아이디 입력란-->
				<label for="inputAdress">아이디</label>
				<input type="text" id="inputAdress" name="userId" th:field="*{userId}" placeholder="아이디" >
				<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>

				<!--사용자 이름 입력란-->
				<label for="inputName">이름</label>
				<input type="text" id="inputName" name="name" th:field="*{name}" placeholder="이름" >


				<!--이메일 입력란-->
				<label for="inputPhoneNum">전화번호</label>
				<input type="text" id="inputPhoneNum" name="email" th:field="*{phoneNum}" placeholder="전화번호">
				<span th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}"></span>


				<button type="submit" id="button" >입력</button>
			</form>
			
		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>


</body>
</html>