<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/finds/findId.css}">
	<script th:src="@{/js/userValidate.js}"></script>
	<script th:src="@{/js/finds/findAndShowId.js}"></script>
	<title>Title</title>
</head>

<body><!--todo: JS로 팝업창에 구현(ID 있으면 알려주고 로그인 페이지로/없으면 메인페이지로)-->
	<div class="wrapper">
		<div class="container">
			<h1>아이디 찾기</h1>

			<form method="post" th:action="@{/findId}" class="form" th:object="${findUserId}"
				onsubmit="return validateAndFindId()">
				<!--사용자 이름 입력란-->
				<label for="inputName">이름</label>
				<input type="text" id="inputName" name="name" th:field="*{name}" placeholder="이름">

				<!--이메일 입력란-->
				<label for="inputEmail">이메일</label>
				<input type="text" id="inputEmail" name="email" th:field="*{email}" placeholder="이메일">
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

				<button type="submit" id="button">입력</button>
			</form>

			<!--todo :  아이디 보여줄 모달 추가하기-->
			
			
			<script>
				function validateAndFindId() {
					var validateUser = commonValidate();

					return validateUser ? doFindId() : false;
				}
			</script>



		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>

</html>