<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/finds/newPassword.css}">
	<title>Title</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">

			<form th:action="@{/passwordChange}" method="post" class="form" th:object="${passwordChangeUser}">
				<input type="hidden" th:value="*{userId}" name="userId">
				<input type="hidden" th:value="*{name}" name="name">
				<input type="hidden" th:value="*{email}" name="email">

				<!--    <div class="form-group">&lt;!&ndash;사용자 비밀번호&ndash;&gt;-->
				<!--        <label for="inputPassword">현재 암호</label>-->
				<!--        <input type="password"  id="inputPassword" name="password" th:field="*{password}" placeholder="현재 비밀번호" required>-->
				<!--        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
				<!--    </div>-->

				<!--사용자 비밀번호-->
				<label for="inputPassword">새 암호</label>
				<input type="password" id="inputPassword" name="newPassword" placeholder="새 비밀번호" required>

				<!--todo : 새 비밀번호 한번 더 받는 div 만들기/JS로 새 비밀번호 확인에 대해서 새 비밀번호와 유효성 검사하게.. -->

				<button type="submit"> 입력</button>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

</body>
</html>