<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/signup/signup.css}">
    <title>회원가입 페이지</title>
</head>

<body> <!--todo : pattern,title속성은 JS로 유효성 검사, 기본 에러 메세지 변경 가능-->
    <form method="post" class="joinForm" th:action="@{/signup}" th:object="${user}">

        <h2>회원가입</h2>
        <div class="textForm"><!--사용자 아이디-->
            <label for="inputAdress">아이디</label>
            <input type="text" id="inputAdress" name="userId" th:field="*{userId}" placeholder="아이디" required>
            <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
        </div>


        <div class="textForm"><!--사용자 이름-->
            <label for="inputName">이름</label>
            <input type="text" id="inputName" name="name" th:field="*{name}" placeholder="이름" required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="textForm"><!--사용자 비밀번호-->
            <label for="inputPassword">비밀번호</label><!--비밀번호 유효성 검사 로직 추가하기-->
            <input type="password" id="inputPassword" name="password" th:field="*{password}" placeholder="비밀번호"
                required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div class="textForm"><!--사용자 생년월일-->
            <label for="inputBirth">생년월일</label>
            <input type="text" id="inputBirth" name="birth" th:field="*{birth}" value maxlength="8"
                pattern="\d{4}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])" placeholder="ex) 19960101"
                title="올바른 날짜 형식이 아닙니다. 년,월,일 형식으로 입력해주세요." required>
            <!--todo : date타입은 사용감이 불편함.text타입으로 받고 JS 사용하여 유효성 검사하여 년-월-일로 받게끔하기-->
        </div>

        <div class="textForm"><!--사용자 이메일-->
            <label for="inputEmail">이메일</label>
            <input type="text" id="inputEmail" name="email" th:field="*{email}" placeholder="ex) abcd127@gmail.com"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="올바른 이메일 형식이 아닙니다.@를 추가하여 다시 입력하여 주십시오"
                required><!--TODO : JS사용해서 유효성 검사 추가하기-->
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="textForm"><!--사용자 전화번호-->
            <label for="inputPhoneNum">전화번호</label>
            <input type="tel" id="inputPhoneNum" name="phoneNum" th:field="*{phoneNum}" required
                pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" maxlength="13" title="XXX-XXXX-XXXX" placeholder="000-0000-0000">
            <span th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}"></span>
        </div>

        <button type="submit" class="btn">가입하기</button>
    </form>
    
    <form method="post" class="idCheckForm" th:action="@{/idCheck}">
        <div class="checkTextForm"><!--사용자 아이디-->
            <label for="inputAddress">아이디</label><!--todo : 중복검사Fix 1번. feature브랜치로 데려가서 유효성 검사 로직 추가하기-->
            <input type="text" id="inputAddress" name="userId" placeholder="아이디">
        </div>
    
        <button type="submit" class="btn">ID 중복검사</button><!--todo : 중복검사Fix 2번. 중복검사 입력란 지우고 버튼은 아이디 입력란 옆으로 옮길 것-->
    </form>
</body>

</html>