<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/signUp">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group"><!--사용자 아이디-->
            <label for="inputAdress">UserId</label>
            <input type="text" class="form-control" id="inputAdress" name="userId" placeholder="사용자 아이디">
        </div>

        <div class="form-group"><!--사용자 이름-->
            <label for="inputName">UserName</label>
            <input type="text" class="form-control" id="inputName" name="userName" placeholder="사용자 이름">
        </div>

        <div class="form-group"><!--사용자 비밀번호-->
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="userPassword" placeholder="사용자 비밀번호">
        </div>

        <div class="form-group"><!--사용자 생년월일-->
            <label for="inputBirth">UserBirth</label>
            <input type="number" class="form-control" id="inputBirth" name="userBirth" placeholder="사용자 생년월일">
        </div>

        <div class="form-group"><!--사용자 이메일-->
            <label for="inputEmail">UserEmail</label>
            <input type="text" class="form-control" id="inputEmail" name="userEmail" placeholder="사용자 이메일">
        </div>

        <div class="form-group"><!--사용자 전화번호-->
            <label for="inputPhone">UserPhone</label>
            <input type="number" class="form-control" id="inputPhone" name="userphone" placeholder="사용자 전화번호">
        </div>

        <button type="submit" class="btn btn-primary">가입하기</button>
    </div>
</form>
</body>
</html>